# Virtual environments
venv/
winvenv/
env/
.venv/

# Media uploads and storage
media/
media/uploads/
media/history/
media/profile_pictures/
media/exercise_videos/
media/exercise_images/
media/temp/
media/cache/
uploads/
user_uploads/
storage/
public/uploads/
public/media/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore collected static files (not your source static/)
staticfiles/

# Django SQLite DB (local)
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Environment config
.env
.env.*
!.env.example

# IDE files
.vscode/
.idea/
*.iml

# Temporary or backup files
*.swp
*.swo
*.bak
*.log
*.tmp

# ---- Node / Vite / React Native / Expo ----
# Node dependencies
node_modules/
# Vite build output
dist/
# Vite cache
.vite/

# Frontend specific
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# React Native
*.hprof
*.tsbundle
*.tsbuildinfo

# Build
build/
ios/build/
android/app/build/
android/build/
android/.gradle/
android/local.properties

# Cache
.eslintcache
.cache/
.npm/
.yarn/

# Coverage directory
coverage/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# FoodSeg103-Benchmark-v1-main
FoodSeg103-Benchmark-v1-main/

FoodSeg-103/