{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FoodCam{% endblock %}</title>
    <link href="../../static/css/style.css" rel="stylesheet">
    <!-- Vite HMR & entry -->
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.js"></script>

</head>
<body>
  <!-- Vue mounts here -->
  <div id="app"></div>
</body>
  {% block content %}
  <!-- 這裡由子模板填入頁面內容 -->
  {% endblock %}
  <script>
    window.addEventListener('load', function() {
      const loading = document.getElementById('loading-overlay');
      if (loading) {
        loading.style.display = 'none';
      }
    });
  </script>

</body>
</html>
